[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "2.15.11"
aos-sdk = {file = "https://s-artifactory.juniper.net:443/artifactory/atom-generic/aos_sdk_5.0.0-RC5/aos_sdk-0.1.0-py3-none-any.whl"}
kubernetes = ">=24.2.0"
requests-oauthlib = "*"
jsonpatch = "*"
jmespath = "*"

[dev-packages]
ansible-lint = "*"
antsibull-docs = "<3.0.0,>=2.0.0"
sphinx-ansible-theme = ">=0.9.0"
ansible-pygments = "*"
sphinx = "*"
jmespath = "*"

[requires]
python_version = "3.11"
