-i https://pypi.org/simple
ansible-core==2.15.12; python_version >= '3.9'
wheels/aos_sdk-0.1.0-py3-none-any.whl
blinker==1.9.0; python_version >= '3.9'
cachetools==5.5.0; python_version >= '3.7'
certifi==2024.8.30; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.4.0; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cryptography==44.0.0; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
durationpy==0.9
flask==3.1.0; python_version >= '3.9'
google-auth==2.37.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
iso8601==1.1.0; python_full_version >= '3.6.2' and python_version < '4.0'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==3.0.0; python_version >= '3.7'
kubernetes==31.0.0; python_version >= '3.6'
lollipop==1.1.8
lollipop-jsonschema==0.8.2
lru-dict==1.3.0; python_version >= '3.8'
markupsafe==3.0.2; python_version >= '3.9'
netaddr==0.10.1
oauthlib==3.2.2; python_version >= '3.6'
packaging==24.2; python_version >= '3.8'
psutil==5.9.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.1; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-slugify==6.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyyaml==6.0.2; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
requests-oauthlib==2.0.0; python_version >= '3.4'
resolvelib==1.0.1
rsa==4.9; python_version >= '3.6' and python_version < '4'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
text-unidecode==1.3
typing-extensions==4.12.2; python_version >= '3.8'
urllib3==2.2.3; python_version >= '3.8'
websocket-client==1.8.0; python_version >= '3.8'
werkzeug==3.1.3; python_version >= '3.9'
